/* Resets */

* {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
}

/* Container */

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Game board */

#board {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}
.tile {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#board, .tile {
  border: 1px solid black;
}

/* Messages */

.hidden {
  display: none;
}
#result-message {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#result-message > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 4rem;
}
.background {
  position: absolute;
  width: 100%; 
  height: 100%;
  background: white;
  opacity: 0.7;
}

/* Animations */

.fade {
  animation: fade 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
