/* Resets */

* {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  appearance: none;
}
ol, ul {
  list-style: none;
}

/* Variables */

:root {
  --bg-color: #37134a;
  --lowlight-color: #ee2087;
  --highlight-color: #f2489d;
  --text-color: #e9e5e5;
  --board-radius: 50px;
}

* {
  color: var(--text-color);
}

/* Container */

#container {
  height: 100vh;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  background: var(--bg-color);
  text-align: center;
}

/* Header */

header h1 {
  display: inline;
  font-size: 5rem;
}
header h1:nth-of-type(2) {
  color: var(--lowlight-color)
}

/* Footer */

footer {
  margin-top: auto;
  padding: .5rem;
}
footer * {
  display: inline;
}
footer svg {
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
}

/* Game board */

#board {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  width: fit-content;
  padding: 30px;
  border-radius: calc(var(--board-radius) + 30px);
  background: var(--lowlight-color);
  justify-self: center;
}
.tile {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--lowlight-color);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  border: 2px solid var(--bg-color);
}
.tile[data-index='0'],
.tile[data-index='1'],
.tile[data-index='2'] {
  border-top: none;
}
.tile[data-index='2'],
.tile[data-index='5'],
.tile[data-index='8'] {
  border-right: none;
}
.tile[data-index='6'],
.tile[data-index='7'],
.tile[data-index='8'] {
  border-bottom: none;
}
.tile[data-index='0'],
.tile[data-index='3'],
.tile[data-index='6'] {
  border-left: none;
}
.tile:hover {
  background-color: var(--highlight-color);
}
#board>:first-child {
  border-top-left-radius: var(--board-radius);
}
#board>:nth-child(3) {
  border-top-right-radius: var(--board-radius);
}
#board>:nth-child(7) {
  border-bottom-left-radius: var(--board-radius);
}
#board>:last-child {
  border-bottom-right-radius: var(--board-radius);
}

/* Messages */

.hidden {
  display: none;
}
.background {
  width: 100%; 
  height: 100%;
  background: var(--bg-color);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
#result-message {
  width: 100%;
  height: 100vh;
  position: fixed;
}
#result-message h1 {
  z-index: 1;
  font-size: 4rem;
}

/* Animations */

.fade {
  animation: fade 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
