/* Resets */

* {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
}

/* Container */

#container {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* Game board */

#board {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.tile {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board, .tile {
  border: 1px solid black;
}